@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #f2f2f2;
}
::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  width: 380px;
  border-radius: 15px;
  margin-top: 70px;
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: black;
  font-family: 'Poppins', sans-serif;
}
.wrapper form{
  padding: 5px 10px 0 10px;
  background-color: #1f2934;
  border-radius: 0 0 15px 15px;
}

.wrapper form .field{
  height: 50px;
  width: 100%;
  position: relative;
  margin-bottom: 5vh;
}

.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.field{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

.wrapper form .loginField{
  height: 50px;
  width: 100%;
  position: relative;
}

.wrapper form .loginField input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

form .loginField {
  display: inline-block;
  padding: .3vh 20px;
  margin-bottom: 2vh;
  font-size: 20px;
  font-weight: 500;
  cursor: text;
  border: none;
  border-radius: 5px;
  /* background: linear-gradient(-135deg, #c850c0, red); */
  /* background: black; */
  border: 0.13vw solid black;
  transition: all 0.3s ease;
  width: 100%;
}

form .loginFields {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 2vh;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* background: linear-gradient(-135deg, #c850c0, red); */
  background: black;
  color: #fff;
  transition: all 0.3s ease;
  width: 100%;
}

form .loginFields:active {
  transform: scale(0.95);
  color: white;
}

form .loginFields:hover {
  background: white;
  color: #262626;
}


form .content{
  display: flex;
  width: -webkit-fill-available;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-evenly;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  font-family: 'Poppins', sans-serif;
  color: white;
  user-select: none;
  padding-left: 5px;
  font-size: smaller;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}

form .field input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* background: linear-gradient(-135deg, #c850c0, red); */
    background: black;
    color: #fff;
    transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
    transform: scale(0.95);
}

form .buttonField {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 2vh;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* background: linear-gradient(-135deg, #c850c0, red); */
    background: black;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
}

form .buttonField:active {
    transform: scale(0.95);
}

form .buttonField:hover {
  background: white;
  color: black;
}

#remember-me{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.toggleButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: -webkit-fill-available;
    display: flex;
    margin-bottom: 2vh;
    gap: 1vh;
    align-items: center;
    color: white;
}

.passwordErrors{
    color: red;
}

#outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

.center-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .background-video {
    display: none; /* Hide video on mobile devices */
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
  }
  .wrapper{
    width: 35vh;
    height: -webkit-fill-available;
  }
  .wrapper .title{
    width: 10vh;
    height: 10vh;
    font-size: smaller;
  }
  .wrapper form {
    width: fit-content;
    height: 35vh;
  }
  .wrapper form .field {
    height: 3vh;
    margin-bottom: auto;
  }
  form .buttonField {
    font-size: smaller;
    display: flex;
    margin-top: 2vh;
    padding: 5px;
  }
  form .content{
    display: flex;
    margin-top: -2vh;
  }
}