#searchbar {
    /* background-color: white; */
    font-size: 18px;
    font-weight: 500;
    cursor: text;
    transition: all 0.3s ease;
    width: inherit;
    height: 2vw;
}

.search-container {
    display: flex;
    align-items: center;
}

*:focus {
    outline: none;
}

.search-bar{
    width: 25vw;
    /* background: rgba(0, 0, 0, 0.061); */
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    font-size: 1vw;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    height: 2.4vw;
    font-family: 'Poppins', sans-serif;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}

::placeholder{
    color: black;
}
