.purchaseContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

#xmark23{
    margin-left: 800px;
}

.checkoutButton{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 2vh;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 0 0 1vh 1vh;
    background: linear-gradient(-135deg, #c850c0, red);
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
}

.checkoutButton:hover{
    font-size: 22px;
}

.cartText{
    width: 45vh;
    font-size: 0.9vw;
}

.emptyCartLink{
    text-decoration: none;
    border: none;
}

.emptyCartText{
    border: none;
    color: #007185;
    padding: 5vh;
}

.emptyCartText:hover{
    text-decoration: underline;
}

.textCheckout{
    font-family: 'Poppins', sans-serif;
}
