.carousel .slide img {
    max-height: auto; /* Adjust the max-height value to make the images smaller */
    width: 100%; /* Adjust the width value to maintain aspect ratio */
    border-radius: 10px;

  }

  .postImage {
    width: 100%; /* Take up the full width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    object-fit: cover; /* Fit the image inside the container while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
    mix-blend-mode: color-burn;
    padding: 15px;
    margin-top: 75px;
    filter: drop-shadow(8px 6px 4px #000);
    border-radius: 10px;
    /* filter: box-shadow(8px 6px 4px #000); */
  }

  .carousel-container {
    height: 100px; /* Adjust the height value to your preference */
  }

  .product-grid {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100px;
  }

  .product-item {
    flex-shrink: 0;
    animation: slide 20s auto infinite;
    height: 200px; /* Adjust the height value to make the images smaller */
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-200%);
    }
    60% {
      transform: translateX(-300%);
    }
    80% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
