.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 15px; */
  z-index: 1;
  position: fixed;
  top: 0; /* Stick the navbar to the top of the viewport */
  background-color: rgb(255, 255, 255);
  width: 100%;
}

  #navMenu {
    margin-right: 10px; /* Adjust the spacing as needed */
  }

  .content {
    display: flex;
    align-items: center;
  }

  #navMenu {
    margin-right: 10px; /* Adjust the spacing as needed */
  }

  .content {
    display: flex;
    align-items: center;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.406);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    height: 250px;
    width: 250px;
  }
  .menu a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    /* background-color: #000000a4; */
    background-color: #fa541c;
    color: #e8e8e8;
    border-radius: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: inline-block;
    animation: bounce 2s ease-in;
    margin: 15px;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

#navMenu{
  cursor: pointer;
}

#navMenu > span{
    display: block;
    width: 28px;
    height: 2px;
    border: 9999px;
    background-color: black;
}

#navMenu > span:not(:last-child){
    margin-bottom: 7px;
}

#navMenu, #navMenu > span{
    transition: all .4s ease-in-out;
}

#navMenu.active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
}
#navMenu.active > span:nth-child(2){
    width: 0;
}
#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3){
    transition-delay: .4s;
}
#navMenu.active > span:nth-child(1){
    transform: translateY(9px);
}
#navMenu.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
}
