.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60vh;
}

#searchbar-wrapper {
    display: inline-block;
    position: relative;
}

#searchbar {
    font-size: 18px;
    font-weight: 500;
    cursor: text;
    transition: all 0.3s ease;
    width: inherit;
    height: 2vw;
}

.search-container {
    display: flex;
    align-items: center;
}

*:focus {
    outline: none;
}

.search-bar {
    width: 25vw;
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    font-size: 1vw;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    height: 2.4vw;
    font-family: 'Poppins', sans-serif;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}

::placeholder {
    color: black;
}

/* .suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60vh;
} */
.suggestions-dropdown {
    position: absolute;
    background: white;
    width: 60vh;
    margin-left: -12vh;
    margin-top: 3vh;
}

.suggestions-dropdown li {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.suggestions-dropdown li:hover {
    background: #f0f0f0;
}

.suggestion-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .search-bar {
        padding: revert-layer;
        height: 5px;
        width: 25vw;
        padding: 12px 10px;
        border: none;
        font-size: x-small;
    }
    .page-container{
        width: auto;
    }
}