#navbarOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 50px;
}

.smallNavbar {
  height: 40px;
}

  .content {
    display: flex;
    align-items: center;
  }

  #navMenu {
    margin-right: 10px;
    top: 0;
  }

  .content {
    display: flex;
    align-items: center;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: -webkit-fill-available;
  }

  .menu a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    /* background: linear-gradient(-135deg, rgb(136, 0, 255), #c850c0); */
    background-color: white;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 5vh;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
  }

.menu a:hover{
  background-color: transparent;
  color: black;
}
.content {
  display: inline-block;
  animation: bounce 2s ease-in;
  margin: 15px;
}

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

#navMenu{
  cursor: pointer;
}

#navMenu > span{
    display: block;
    width: 28px;
    height: 2px;
    border: 9999px;
    background-color: black;
}

#navMenu > span:not(:last-child){
    margin-bottom: 7px;
}

#navMenu, #navMenu > span{
    transition: all .4s ease-in-out;
}

#navMenu.active{
    transition-delay: 0.8s;
    transform: rotate(65deg);
}
#navMenu.active > span:nth-child(2){
    width: 0;
}
#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3){
    transition-delay: .4s;
}
#navMenu.active > span:nth-child(1){
    transform: translateY(9px);
}
#navMenu.active > span:nth-child(3){
    transform: translateY(-9px) rotate(50deg);
}

#logoutButton {
  font-family: 'Poppins', sans-serif;
  padding: 3px 8px;
  border-radius: 10px;
  /* background: linear-gradient(-135deg, red, #c850c0); */
  background: black;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoutButton:hover {
  background-color: #fff;
  color: white;
  background: linear-gradient(-135deg, red, #c850c0);
  /* width: 15vw; */
}

.rightNav{
  /* margin-top: 10px; */
  margin-left: 10px;
  margin-right: 25px;
  font-family: 'Poppins', sans-serif;
  padding: 3px 8px;
  border-radius: 10px;
  /* background: linear-gradient(-135deg, #9a50c8, rgb(255, 162, 0)); */
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.mySpan{
  color: white;
  background-color: white;
}

.dropDownImage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5vw;
  width: 1.5vw;
}

.dropDownImage:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5vw;
  width: 2.5vw;
}

.links-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
