.post-container {
    padding-bottom: 10px;
    /* margin: 40px; */
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.post-body-text {
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.reviewImage{
    border: 3px solid blue;
}

.review-title{
    /* margin-top: 20px; */
    font-size: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.review-body{
    padding-top: 15px;
    margin-left: 30px;
    margin: 2vw;
    font-family: 'Poppins', sans-serif;
}

.review-rating{
    margin-left: 30px;

}

#profileLink{
    background: linear-gradient(-135deg, #c850c0, red);
    color: white;
    padding: 3px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

#profileLink:hover {
    background-color: #fff;
}

#ProfileUsername{
    /* background-color: rgba(255, 0, 0, 0.856); */
    background-color: white;
    height: 25vh;
    /* width: 100vh; */
    width: auto;
    border-radius: 5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
    /* text-shadow: 5px 2px 5px #c850c0; */
}

#ProfilePostsTitle{
    font-family: 'Poppins', sans-serif;
    margin-bottom: -30px;
    margin-left: 15px;
    font-size: 30px;
    width: 5vh;
}

#user-button-group {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    /* cursor: pointer; */
    font-family: 'Poppins', sans-serif;
    gap: 10px;
}

.user-button-group-button {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 0.8vw;
    border: none;
    background-color: black;
    color: white;
    width: 15vw;
    cursor: pointer;
}

#user-button-group-button-left {
    /* border-right: none; */
    border-top-left-radius: 10px;
    border: none;
}

#user-button-group-button-right {
    border-left: none;
    border-bottom-right-radius: 10px;
}

.user-button-group-button:hover {
    /* box-shadow: -5px 12px 10px rgba(0, 0, 0, 0.41); */
    background-color: white;
    color: black;
}

.reviewButton:hover{
    cursor: pointer;
}

.editDeleteButtonProfilePage{
    display: flex;
    width: -webkit-fill-available;
    margin: 5vh;
}

.PostIndexItemProfilePage{
    display: flex;
    flex-wrap: wrap;
}

.profilePostsProfilePage{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}
